.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.wrapper, .img__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashed__vertical, .dashed__horizontal {
    position: absolute;
    z-index: 5;
}

.dashed__vertical {
    border-left: 1px dashed black;
    height: 100%;
}

.dashed__horizontal {
    border-top: 1px dashed black;
    width: 100%;
}

.img__block {
    border: 1px solid grey;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}

.img__block-pic {
    width: 200px;
    height: 200px;
}